@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html{
	font-size: 62.5%;
}

html,body{
	margin:0;
}

p{
	font-size: 3rem;
	margin:0;
}

/* INICIA HEADER*/

h1{
	font-size: 7rem;
	color:#8a2be2; 
	font-weight: bold; 
	text-align: center;
}

h2, h3{
	font-size: 5rem;
	color:#AC85F6; 
	text-align: center;
}

.header-title{
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

header{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin:2rem;
}


.logo {
	width: 20rem;
	filter: invert();
	margin:2.5rem;
}

/* INICIA NAV/LISTAS NO ORDENADAS*/

nav {
	padding: 1rem 2rem;
}

nav, footer{ 
    width: 100%;
    background-color:#8a2be2;
}

ul{
	display:flex;
	justify-content:space-around;
}

nav ul li{
	color:white;
	font-size: 3rem;
	text-transform: uppercase;
	text-decoration: none;
	list-style:none;
}

li a{
	color:white;
	text-decoration:none;
}

li a:hover {
	color: yellow;
}

/*INICIA MAIN HOME*/

.main-home{
	position:relative;
    background-color: blueviolet;
}

.main-home h3{
    position: absolute;
    top: 10px;
    left: 20px;
    width:40%;
    line-height: 7rem;
    text-shadow: 5px 5px 5px black;
}

#img-main{
	width:100%;
}


/*INICIA FOOTER*/
footer{
	padding-top:4rem;
	padding-bottom: 3rem;
}

.link-redes img {
	width: 7rem;
    display:inline;
}

.footer-img{
	width:100%;
	background-color: #A1FCD7;
	padding-top:1rem;
	margin:0px;
}

.footer-title{
	color:#B7F262;
	text-align: center;
}

.footer{
	display:flex;
	justify-content:space-around;
	align-items: center;
	padding-bottom: 6rem;
}

footer ul{
	display:flex;
	flex-direction: column;
	text-align: left;
	list-style:none;
	text-decoration:none;
	font-size: 3rem;
}


#seguinos {
	color:white;
}

.redes-container img{
	margin:1rem;
}

/*INICIA QUIENES SOMOS*/
.nosotros p{
	color:#2F3D3A;
	padding:3rem;
	padding-bottom: 4rem;
}

/* INICIA PRODUCTOS*/
.productos{
	display:flex;
	justify-content: space-around;
	padding: 3rem 0;
}

.perros, .gatos{
	display: flex;
	flex-direction: column;
}

table{
	 width: 90%;
	 border-collapse: collapse;
	 border: 1rem;
	 padding: 1rem;
	 font-size:3rem;
	 margin:3rem;
	 background-color:#ADFBE9;
	 align-items: center;
	 text-align: center;
}

table tr:hover{
	background-color: #C7EE5D;
}

table tr td:first-child,
table tr th:first-child {
	text-align: left;
	padding-left: 1rem;
}

table tr:nth-child(even){
	background-color: #D1BDF6;
}

table th{
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  	text-align: left;
  	background-color: #8a2be2;
  	color: white;
}

/*INICIA CONTACTO*/

.message{
	font-size: 6rem;
	color:grey;  
	text-align: left;
	margin-left: 4rem;
}

.form-message, .form-consulta{
	display:flex;
	flex-direction: column;
	width: 70%;
	line-height:2rem;
	margin-left: 4rem;
}

.form-message, .form-consulta label{
	font-size: 2.5rem;
	padding-left: 0;
}

input[type=text]{
  width: 70%;
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  display: inline-block;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

textarea{
	width: 70%;
	border-radius: 0.5rem;
  	box-sizing: border-box;
}

input[type=reset] {
  background-color:#F54652;
}

input[type=submit]{
 background-color:#28F258;
}

.form-consulta label{
	display:flex;
	flex-direction: column;
	padding:2rem;
	padding-left: 0;
	align-content: all;
}

.radio-tipo-mascota{
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

input[type=date]{
	width: 50%;
}

input[type=time]{
	width: 20%;
}


/*INICIA PACIENTES*/

.pacientes{
	margin:2rem 0;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 60px repeat(4, 1fr) 60px;
	grid-gap: 10px;
	background-color: white;
	grid-template-areas:
	"rollo rollo rollo"
	"garrita garrita garrita"
	"cometa duquesa duquesa"
	"samuel samuel chizzo"
	"rumbita camila camila"
	"rollo2 rollo2 rollo2";
	align-items:stretch;
	justify-items:stretch;
	width:100%;
}


.pacientes img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.garrita{
	grid-area: garrita;
}

.duquesa {
	grid-area:duquesa;
}

.cometa {
	grid-area:cometa;
	boder..
}

.rumbita{
	grid-area: rumbita;
}

.samuel{
	grid-area: samuel;
}

.chizzo{
	grid-area:chizzo;
}
.camila{
	grid-area: camila;
}

.rollo{
	grid-area: rollo;
}

.rollo2{
	grid-area: rollo2;
}

#rollo-img {
	object-fit: fill;
}

.contenedor-historia {
	position: relative; 
}

.historia {
	position: absolute;
	background-color: #ffffffc9;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	padding: 0 1rem;
	visibility: hidden;
	transition: all 2s;
}

.titulo-historia {
	color: black;
}

.contenedor-historia:hover .historia {
	visibility: visible;
	width: 100%;
}

.only-mobile{	
	display:none;
}

	/*--- INICIO BOOSTRAP ---*/
.form-consulta .btn.btn-success, .form-consulta .btn.btn-danger, .form-message .btn.btn-success, .form-message .btn.btn-danger{
	width: 30%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size:2rem;
	margin: 2rem 0rem;
}

body{
	background-color: #A1FCD7;
}

.consultas{
	display:flex;
}
.consultas .card{
	margin:5rem 12rem;
	justify-content: center;
}
.card-body .card-text .link-success{
	text-decoration: none;
	font-weight: bold;
}

.nosotros .accordion-item{
	width:100%;
	font-size: 3rem;
	margin-bottom: 2rem;
	padding:3rem;
}
.nosotros .accordion-item .accordion-header .accordion-button{
	width:100%;
	font-size: 5rem;
	color:#AC85F6; 
	text-align: center;
	padding:1rem;
}

.nosotros .quienes-somos{
	margin-top: 2rem;
}

.sumate{
	display: flex;
}

.sumate .card{
	width: 50%;
	margin:auto;
	padding:1rem;
	flex-direction: column-reverse;
}

.sumate .card .card-title{
	color: blueviolet;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.sumate .card .btn.btn-primary{
	width: 20%;
	margin: auto;
	display:block;
}

.alert.alert-primary .aviso{
	font-size: 3rem;
	margin: 1rem;
}

/* INICIO MEDIA QUERIES */

/* Tablet */
@media screen and (max-width: 768px) {

	.titulo-inline {
		display: inline;
	    font-size: 4rem;
	    text-align: right;
	    line-height: 0.5rem;
	}

	h2, h3{	
		font-size: 3rem
	}

	nav ul li{	
				font-size:1.5rem;
	 }
	.main-home h3{
	    	top: 10px;
	    	left: 20px;
	    	width:40%;
	    	line-height: 3rem;
	    	font-size: 3rem;
	    	text-align: center;
		}

		footer{
			padding-bottom: 1rem;
			padding-top: 1rem;
		}


		.footer-title{
			color:#B7F262;
			text-align: center;
			font-size:3rem;
		}

		footer ul{
			display:flex;
			flex-direction: column;
			font-size: 2rem;
		}

		#seguinos {
		color:white;
		font-size:2rem;
		}

		.redes-container img{
		margin:1rem;
		}
	   
	   .productos{
		display:flex;
		flex-direction: column;
		}

		.texto-historia{
			font-size:1rem;
		}
}

/* Mobile */
@media screen and (max-width: 480px) {
	
	.only-mobile {
		display: unset;
	}

	header{
		flex-direction: column;
	}
	.header-title h1 {
		display: block;
	    font-size: 2rem;
	    text-align: center;
	    line-height: 3rem;
	}

	h2, h3{	
		font-size: 2rem;
		margin-bottom:1rem;
	}

	.logo {
		width:40%;
		margin: 0 auto;
	    display: block;
	    padding-top: 1rem;
	}


	ul{ 
		display:flex;
		flex-direction: column;
	}

	nav ul li{	
				list-style: square;
				font-size:1.5rem;
	 }
		
	.main-home h3{
    	top: 4px;
    	left: 6px;
    	width:40%;
    	line-height: 2rem;
    	font-size: 1rem;
    	text-align: initial;
	}

	footer{
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	.footer{
		display:flex;
		flex-direction:column;
	}

	.footer-title{
		color:#B7F262;
		text-align: center;
		font-size:3rem;
	}

	footer ul{
		display:flex;
		flex-direction: column;
		font-size: 2rem;
	}

	#seguinos {
		color:white;
		font-size:2rem;
	}

	.redes-container img{
		margin:1rem;
	}

	.nosotros .quienes-somos h3{
		font-size: 3rem;
	}

	.nosotros .accordion-item .accordion-header .accordion-button{
		font-size: 4rem;
	}

	.productos{
		display:flex;
		flex-direction: column;
		padding-bottom: 0;
		align-items: center;
	}

	.productos img{
		width: 100%;
		margin:0;
	}

	p{
		font-size:2rem;
	}

	.aclaracion-contenedor{
		display: flex;
		flex-direction: column;	
	}

	.aclaracion-contenedor p{
		font-size:1rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.message{
		font-size: 2rem;
		margin-left: 4rem;
	}  

	.form-message, .form-consulta{
		width: 95%;
		line-height:2rem;
		margin: 0 1rem;
	}

	.form-message, .form-consulta label{
		font-size: 2rem;
	}

	input[type=text]{
  		width: 95%;
	}

	textarea{
		width: 100%
	}

   	.radio-tipo-mascota{
		flex-direction: row;
		justify-content: space-around;

	}

	table{
		margin:1rem 0;
		width:100%;
		font-size:2rem;
	}

	table tr th:nth-child(2),
	table tr th:nth-child(3),
	table tr td:nth-child(2),
	table tr td:nth-child(3) {
		display: none;
	}

	.consultas .card{
		margin:0;
		justify-content: center;
	}
	.sumate .card{
		width: 100%;
		margin:1rem;
		padding:0.5rem;
		flex-direction: column-reverse;
	}

	.sumate .card .card-title{
		color: blueviolet;
	    font-size: 2rem;
	    text-align: center;
	    font-weight: bold;
	}

	.sumate .card .card-text{
		font-size: 1rem;
	}

	.sumate .card .btn.btn-primary{
		width: 40%;
		margin: 1rem auto;
	}

	.alert.alert-primary .aviso{
	font-size: 2rem;
	}
}
