@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

html,
body {
  margin: 0;
  background-image: img("../img/fondo-2.jpg");
  background-repeat: repeat; }

html {
  font-size: 62.5%; }

body {
  background-color: #a1fcd7; }

p {
  font-size: 4rem;
  margin: 0; }

h1 {
  font-size: 7rem;
  color: #8a2be2;
  font-weight: bold;
  text-align: center; }

h2,
h3 {
  font-size: 5rem;
  color: #ac85f6;
  text-align: center; }

header {
  padding-top: 2rem;
  background-color: #a1fcd7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  header-title {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top: 3rem; }

.logo {
  width: 20rem;
  filter: invert(100%);
  margin: 2.5rem; }

nav {
  padding: 1rem 2rem;
  width: 100%;
  background-color: #8a2be2; }
  nav ul {
    display: flex;
    justify-content: space-around; }
    nav ul li {
      color: white;
      font-size: 3rem;
      text-transform: uppercase;
      text-decoration: none;
      list-style: none; }

li a {
  color: white;
  text-decoration: none; }
  li a:hover {
    color: yellow; }

.navbar {
  display: none; }

footer {
  width: 100%;
  background-color: #8a2be2;
  padding-top: 4rem;
  padding-bottom: 3rem; }
  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    list-style: none;
    text-decoration: none;
    font-size: 4rem; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6rem; }
  .footer-img {
    width: 100%;
    background-color: #a1fcd7;
    padding-top: 1rem;
    margin: 0px; }
  .footer-title {
    color: #c7ee5d;
    text-align: center;
    animation: shakeY 1s infinite;
    font-size: 7rem; }

#seguinos {
  color: white; }

.link-redes img {
  width: 8rem;
  display: inline; }

.redes-container img {
  margin: 1rem; }

.main-home {
  position: relative;
  background-color: #8a2be2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: white;
  grid-template-areas: "b1 carousel carousel carousel carousel carousel b4" "b2 carousel carousel carousel carousel carousel b5" "b3 carousel carousel carousel carousel carousel b6";
  align-items: stretch;
  justify-items: stretch;
  width: 100%; }
  .main-home img {
    height: 100%;
    width: 100%; }
  .main-home h3 {
    width: 100%;
    color: #2f3d3a;
    margin-bottom: 3rem; }
  .main-home #carouselExampleIndicators {
    margin-top: 6rem; }

.benef1 {
  grid-area: b1; }

.benef2 {
  grid-area: b2; }

.benef3 {
  grid-area: b3; }

.benef4 {
  grid-area: b4; }

.benef5 {
  grid-area: b5; }

.benef6 {
  grid-area: b6; }

#carouselExampleIndicators {
  grid-area: carousel; }

.nosotros {
  margin: 0 18rem; }
  .nosotros .quienes-somos {
    margin-top: 2rem; }
  .nosotros #nosotros-img {
    width: 100%; }
  .nosotros p {
    font-size: 3rem;
    color: #2f3d3a;
    padding: 3rem;
    padding-bottom: 4rem; }
  .nosotros .accordion-item {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 2rem;
    padding: 3rem; }
    .nosotros .accordion-item .accordion-header .accordion-button {
      width: 100%;
      font-size: 5rem;
      color: #ac85f6;
      text-align: center;
      padding: 1rem; }
  .nosotros .accordion-collapse.collapse.show .accordion-body {
    font-size: 3rem; }

.list-group-item {
  font-size: 2rem; }

.precio {
  background-color: #8a2be2 !important;
  font-size: 2rem; }

.btn-group {
  width: 70%;
  margin: auto; }
  .btn-group .btn.btn-secondary {
    font-size: 2rem; }

.btn-comprar {
  background-color: #8a2be2; }

.cantidad-producto label {
  font-size: 2rem;
  width: 69%;
  margin: 1rem 0; }

.cantidad-producto input {
  width: 30%;
  font-size: 2rem; }

.btn.btn-primary {
  font-size: 2rem;
  width: 100%; }

.especie-radio {
  font-size: 2rem;
  margin: 1rem 0; }
  .especie-radio input {
    margin-left: 2rem; }

.col {
  width: 50%;
  grid-area: col; }

.ing2 {
  grid-area: ing2;
  background-color: #8a2be2; }

.ing3 {
  grid-area: ing3; }

.ing4 {
  grid-area: ing4; }

.card-cruda {
  grid-area: cr;
  display: flex;
  flex-direction: column; }

.card-mixta {
  grid-area: mix;
  display: flex;
  flex-direction: column; }

.card-cocida {
  grid-area: coc;
  display: flex;
  flex-direction: column; }

.card-med {
  grid-area: med;
  display: flex;
  flex-direction: column; }

.main-productos {
  background-color: #8a2be2;
  display: grid;
  grid-template-columns: 2fr 2fr 300px;
  grid-template-rows: repeat(4, 1fr);
  background-color: transparent;
  grid-gap: 4rem;
  grid-template-areas: "cr mix ing3" "cr mix ing2" "coc med ing1" "coc med ing4";
  width: 100%;
  align-items: stretch;
  justify-items: stretch; }
  .main-productos > * {
    box-shadow: 0px 0 20px 0px #00000070;
    background-color: white; }
  .main-productos .card-body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .main-productos .card-title {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2rem; }
  .main-productos .card-text {
    font-size: 3rem; }
  .main-productos img {
    max-height: 300px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 1rem; }

.pacientes {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px repeat(4, 1fr) 60px;
  grid-gap: 10px;
  background-color: white;
  grid-template-areas: "rollo rollo rollo" "garrita garrita garrita" "cometa duquesa duquesa" "samuel samuel chizzo" "rumbita camila camila" "rollo2 rollo2 rollo2";
  align-items: stretch;
  justify-items: stretch;
  width: 100%; }
  .pacientes img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.garrita {
  grid-area: garrita; }

.duquesa {
  grid-area: duquesa; }

.cometa {
  grid-area: cometa; }

.rumbita {
  grid-area: rumbita; }

.samuel {
  grid-area: samuel; }

.chizzo {
  grid-area: chizzo; }

.camila {
  grid-area: camila; }

.rollo {
  grid-area: rollo; }

.rollo2 {
  grid-area: rollo2; }

#rollo-img {
  object-fit: fill; }

.historia {
  position: absolute;
  background-color: #ffffffc9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  visibility: hidden;
  transition: all 2s; }
  .historia-title {
    color: #2f3d3a; }
  .historia-contenedor {
    position: relative;
    overflow: hidden; }
    .historia-contenedor:hover .historia {
      visibility: visible;
      width: 100%; }
  .historia-title {
    color: #2f3d3a; }

.only-mobile {
  display: none; }

.sumate {
  display: flex; }
  .sumate .card {
    width: 50%;
    margin: auto;
    padding: 1rem;
    flex-direction: column-reverse;
    margin-bottom: 2rem; }
    .sumate .card-text {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 3rem; }
    .sumate .card .btn.btn-primary {
      width: 50%;
      margin: auto;
      display: block;
      font-size: 3rem; }
    .sumate .card .card-title {
      color: #8a2be2;
      font-size: 4rem;
      text-align: center;
      font-weight: bold; }

.alert.alert-primary .aviso {
  font-size: 4rem;
  margin: 1rem; }

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.form-message, .form-consulta {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin: 2rem 0rem; }
  .form-message label, .form-consulta label {
    font-size: 3.5rem;
    padding-left: 0; }
  .form-message .btn.btn-success, .form-consulta .btn.btn-success, .form-message .btn.btn-danger, .form-consulta .btn.btn-danger {
    width: 35%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    margin: 2rem 0rem; }
  .form-message form, .form-consulta form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 3.5rem; }
    .form-message form .botonera, .form-consulta form .botonera {
      width: 70%;
      display: flex;
      justify-content: center; }

.form-consulta label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: all;
  padding: 2rem;
  padding-left: 0; }

input[type="text"] {
  width: 70%;
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  display: inline-block;
  border-radius: 0.5rem;
  box-sizing: border-box; }

input[type="reset"] {
  background-color: #f54652; }

input[type="submit"] {
  background-color: #28f258; }

input[type="date"] {
  width: 50%; }

input[type="time"] {
  width: 20%; }

textarea {
  width: 70%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  height: 30rem; }

.radio-tipo-mascota {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.consultas {
  display: flex; }
  .consultas .card {
    margin: 5rem 12rem;
    justify-content: center; }

.card-body .card-text .link-success {
  text-decoration: none;
  font-weight: bold; }

/* INICIO MEDIA QUERIES */
/* Tablet */
@media screen and (max-width: 1440px) {
  /*inicia commons*/
  html,
  body {
    background-color: #a1fcd7; }
  .titulo-inline {
    display: inline;
    font-size: 4rem;
    text-align: right;
    line-height: 0.5rem; }
  h2,
  h3 {
    font-size: 3rem; }
  nav ul li {
    font-size: 1.5rem; }
  footer {
    padding-bottom: 1rem;
    padding-top: 1rem; }
    footer ul {
      display: flex;
      flex-direction: column;
      font-size: 2rem; }
  .footer-title {
    color: #c7ee5d;
    text-align: center;
    font-size: 4rem; }
  #seguinos {
    color: white;
    font-size: 2rem; }
  .redes-container img {
    margin: 1rem; }
  .link-redes img {
    width: 6rem; }
  .navbar {
    display: none; }
  /*incicia index*/
  .main-home h3 {
    font-size: 3rem;
    text-align: center; }
  /*inicia productos */
  .alert.alert-primary .aviso {
    font-size: 3rem; }
  .btn-group {
    width: 0;
    margin: 0; }
  /*inicia contacto*/
  .form-consulta .btn.btn-success, .form-consulta .btn.btn-danger, .form-message .btn.btn-success, .form-consulta .btn.btn-success, .form-message .btn.btn-danger, .form-consulta .btn.btn-danger {
    font-size: 2rem; }
  .form-consulta label, .form-message label, .form-consulta label {
    font-size: 2rem; }
  .form-consulta form, .form-message form, .form-consulta form {
    font-size: 2rem; }
  /*inicia pacientes y consultas*/
  .historia-texto {
    font-size: 1rem; }
  .consultas .card-text,
  .sumate .card-text {
    font-size: 2rem; }
  .sumate .card .btn.btn-primary {
    font-size: 2rem; }
  /*inicia quienes-somos*/
  .quienes-somos h3 {
    font-size: 4rem; }
  .nosotros {
    margin: 0; }
    .nosotros p {
      font-size: 2rem; }
  .nosotros .accordion-item .accordion-header .accordion-button {
    font-size: 4rem; }
  .nosotros .accordion-collapse.collapse.show .accordion-body {
    font-size: 2rem; } }

@media screen and (max-width: 768px) {
  .main-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px repeat(2, 2fr) 300px;
    grid-template-areas: "ing1 ing2" "cr mix " "coc med" "ing3 ing4";
    align-items: center;
    margin: auto; }
    .main-productos .list-group {
      margin-bottom: 1rem; }
    .main-productos .especie-radio {
      display: flex; }
      .main-productos .especie-radio label {
        margin-right: 1rem; }
    .main-productos .card-body {
      max-height: 645px; }
    .main-productos .card-title {
      font-size: 2.5rem; }
    .main-productos .card-text {
      font-size: 2rem; }
    .main-productos .card-cocida .card-body {
      padding-bottom: 10.25rem; } }

/* Mobile */
@media screen and (max-width: 480px) {
  /*inicia commons*/
  html,
  body {
    background-color: #a1fcd7; }
  .only-mobile {
    display: unset; }
  header {
    flex-direction: column; }
  .header-title h1 {
    display: block;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem; }
  .header-title h2,
  .header-title h3 {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .header-title .logo {
    width: 40%;
    margin: 0 auto;
    display: block;
    padding-top: 1rem; }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  nav ul li {
    list-style: square;
    font-size: 1.5rem; }
  footer {
    padding-bottom: 1rem;
    padding-top: 1rem; }
    footer ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 2rem; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .footer-title {
      color: #c7ee5d;
      text-align: center;
      font-size: 3rem; }
  #seguinos {
    color: white;
    font-size: 2rem; }
  .redes-container {
    padding-left: 2rem; }
    .redes-container img {
      margin: 1rem; }
  .navbar {
    display: flex; }
  nav {
    display: none; }
  .footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; }
    .footer-title {
      color: #c7ee5d;
      text-align: center;
      font-size: 3rem; }
      .footer-title .ul {
        display: flex;
        flex-direction: column;
        font-size: 4rem; }
  .link-redes img {
    width: 5rem; }
  /*inicia index home*/
  .main-home {
    display: flex; }
    .main-home h3 {
      font-size: 1rem;
      text-align: center;
      margin-bottom: 1rem; }
    .main-home .benef1,
    .main-home .benef2,
    .main-home .benef3,
    .main-home .benef4,
    .main-home .benef5,
    .main-home .benef6 {
      display: none; }
    .main-home #carouselExampleIndicators {
      margin-top: 1rem; }
  /*inicia quienes-somos*/
  .nosotros p {
    font-size: 2rem; }
  .nosotros .quienes-somos h3 {
    font-size: 3rem; }
  .nosotros .accordion-item .accordion-header .accordion-button {
    font-size: 3rem; }
  .nosotros .accordion-collapse.collapse.show .accordion-body {
    font-size: 2rem; }
  .nosotros .accordion-body {
    font-size: 2rem; }
  /*inicia productos*/
  .main-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px repeat(4, 1fr) 150px;
    grid-template-areas: "ing1 ing2" "cr cr" "mix mix" "coc coc" "med med" "ing3 ing4";
    gap: 10px;
    align-items: stretch; }
    .main-productos .list-group {
      align-items: stretch; }
    .main-productos .card-body {
      max-height: 100%;
      padding: 2rem; }
    .main-productos .card-cocida .card-body {
      padding-bottom: 2rem; }
  .btn-comprar {
    margin-top: 1rem; }
  .alert.alert-primary .aviso {
    font-size: 2rem; }
  /*inicia contacto*/
  .message p {
    font-size: 2rem;
    margin-left: 4rem; }
  .form-message, .form-consulta,
  .form-consulta {
    width: 95%;
    line-height: 2rem;
    margin: 0 1rem; }
    .form-message label, .form-consulta label,
    .form-consulta label {
      font-size: 2rem; }
  input[type="text"] {
    width: 95%; }
  textarea {
    width: 100%; }
  .radio-tipo-mascota {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }
  /*inicia pacientes y consultas*/
  .consultas .card {
    margin: 0;
    justify-content: center; }
  .sumate .card {
    width: 100%;
    margin: 1rem;
    padding: 0.5rem;
    flex-direction: column-reverse; }
    .sumate .card .btn.btn-primary {
      width: 80%;
      font-size: 2rem;
      margin: 1rem auto; }
    .sumate .card-title {
      color: #8a2be2;
      font-size: 3rem;
      text-align: center;
      font-weight: bold; }
    .sumate .card-text {
      font-size: 2rem; }
  .alert .alert-primary .aviso {
    font-size: 2rem; }
  .container-fluid {
    background-color: #8a2be2; }
  .collapse .p-4 {
    background-color: #8a2be2; }
    .collapse .p-4 ul li {
      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: none;
      list-style: square; } }
