@import "./_variables";
* {
  box-sizing: border-box;
  font-family: $mainFont;
}

html,
body {
  margin: 0;
}

html {
  font-size: map-get($map: $fontsizes, $key: "main");
}

body {
  background-color: $colorPrimary;
}

p {
  font-size: map-get($map: $fontsizes, $key: "cuatro");
  margin: 0;
}

h1 {
  font-size: map-get($map: $fontsizes, $key: "siete");
  color: $colorSecondary;
  font-weight: bold;
  text-align: center;
}

h2,
h3 {
  font-size: map-get($map: $fontsizes, $key: "cinco");
  color: $colorTitle;
  text-align: center;
}
