@import "./_variables";

.main-contacto {
  @include flexCol($horizontal: center);
}

.form-message {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: map-get($map: $fontsizes, $key: "dos");
  margin: 2rem 0rem;
  label {
    font-size: 3.5rem;
    padding-left: 0;
  }
  .btn {
    &.btn-success,
    &.btn-danger {
      width: 35%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: map-get($map: $fontsizes, $key: "tres");
      margin: 2rem 0rem;
    }
  }
  form {
    @include flexCol($horizontal: center);
    font-size: 3.5rem;
    .botonera {
      width: 70%;
      display: flex;
      justify-content: center;
    }
  }
}

.form-consulta {
  @extend .form-message;
}

.form-consulta {
  label {
    @include flexCol($horizontal: all);
    padding: 2rem;
    padding-left: 0;
  }
}

input {
  &[type="text"] {
    width: 70%;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    display: inline-block;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }

  &[type="reset"] {
    background-color: $red;
  }

  &[type="submit"] {
    background-color: $green;
  }

  &[type="date"] {
    width: 50%;
  }

  &[type="time"] {
    width: 20%;
  }
}

textarea {
  width: 70%;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.radio-tipo-mascota {
  @include flexRow($horizontal: center);
}
