@import "./_variables";
footer {
  width: 100%;
  background-color: $colorSecondary;
  padding-top: 4rem;
  padding-bottom: 3rem;
  ul {
    @include flexCol($vertical: left);
    list-style: none;
    text-decoration: none;
    font-size: map-get($map: $fontsizes, $key: "cuatro");
  }
}

.footer {
  @include flexRow(space-around, center) padding-bottom: 6rem;
  &-img {
    width: 100%;
    background-color: $colorPrimary;
    padding-top: 1rem;
    margin: 0px;
  }

  &-title {
    color: $colorTerciary;
    text-align: center;
    animation: shakeY 1s infinite;
    font-size: map-get($map: $fontsizes, $key: "siete");
  }
}

#seguinos {
  color: $white;
}

.link-redes {
  img {
    width: 7rem;
    display: inline;
  }
}

.redes-container {
  img {
    margin: 1rem;
  }
}
