@import "./_variables";

.main {
  &-home {
    position: relative;
    background-color: $colorSecondary;
    h3 {
      position: absolute;
      top: 14rem;
      left: 4rem;
      width: 40%;
      line-height: 7rem;
      text-shadow: 5px 5px 5px $black;
    }
  }
}
