/* INICIO MEDIA QUERIES */

/* Tablet */
@media screen and (max-width: 1440px) {
  /*inicia commons*/

  html,
  body {
    background-color: $colorPrimary;
  }
  .titulo-inline {
    display: inline;
    font-size: map-get($map: $fontsizes, $key: "cuatro");
    text-align: right;
    line-height: 0.5rem;
  }

  h2,
  h3 {
    font-size: map-get($map: $fontsizes, $key: "tres");
  }

  nav {
    ul {
      li {
        font-size: 1.5rem;
      }
    }
  }

  footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    ul {
      display: flex;
      flex-direction: column;
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }

  .footer {
    &-title {
      color: $colorTerciary;
      text-align: center;
      font-size: map-get($map: $fontsizes, $key: "cuatro");
    }
  }

  #seguinos {
    color: $white;
    font-size: map-get($map: $fontsizes, $key: "dos");
  }

  .redes-container {
    img {
      margin: 1rem;
    }
  }

  .link-redes {
    img {
      width: 6rem;
    }
  }
  .navbar {
    display: none;
  }

  /*incicia index*/

  .main-home {
    h3 {
      font-size: map-get($map: $fontsizes, $key: "tres");
      text-align: center;
    }
  }

  /*inicia productos */

  .alert {
    &.alert-primary {
      .aviso {
        font-size: map-get($map: $fontsizes, $key: "tres");
      }
    }
  }

  .btn {
    &-group {
      width: 0;
      margin: 0;
    }
  }

  /*inicia contacto*/

  .form-consulta,
  .form-message {
    .btn {
      &.btn-success,
      &.btn-danger {
        font-size: map-get($map: $fontsizes, $key: "dos");
      }
    }
    label {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
    form {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }

  /*inicia pacientes y consultas*/

  .historia {
    &-texto {
      font-size: map-get($map: $fontsizes, $key: "uno");
    }
  }

  .consultas,
  .sumate {
    .card-text {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }

  .sumate {
    .card {
      .btn.btn-primary {
        font-size: map-get($map: $fontsizes, $key: "dos");
      }
    }
  }

  /*inicia quienes-somos*/

  .quienes-somos {
    h3 {
      font-size: map-get($map: $fontsizes, $key: "cuatro");
    }
  }

  .nosotros {
    margin: 0;
    p {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }

  .nosotros {
    .accordion-item {
      .accordion-header {
        .accordion-button {
          font-size: map-get($map: $fontsizes, $key: "cuatro");
        }
      }
    }
    .accordion-collapse {
      &.collapse {
        &.show {
          .accordion-body {
            font-size: map-get($map: $fontsizes, $key: "dos");
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    &-productos {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 300px repeat(2, 2fr) 300px;
      grid-template-areas:
        "ing1 ing2"
        "cr mix "
        "coc med"
        "ing3 ing4";
      align-items: center;
      margin: auto;

      .list {
        &-group {
          // align-items: stretch;
          margin-bottom: 1rem;
        }
      }

      .especie {
        &-radio {
          display: flex;
          label {
            margin-right: 1rem;
          }
        }
      }

      .card {
        &-body {
          max-height: 645px;
        }

        &-title {
          font-size: 2.5rem;
        }

        &-text {
          font-size: map-get($map: $fontsizes, $key: "dos");
        }

        &-cocida {
          .card {
            &-body {
              padding-bottom: 10.25rem;
            }
          }
        }
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  /*inicia commons*/

  html,
  body {
    background-color: $colorPrimary;
  }
  .only-mobile {
    display: unset;
  }

  header {
    flex-direction: column;
  }

  .header-title {
    h1 {
      display: block;
      font-size: map-get($map: $fontsizes, $key: "dos");
      text-align: center;
      line-height: 3rem;
    }

    h2,
    h3 {
      font-size: map-get($map: $fontsizes, $key: "dos");
      margin-bottom: 1rem;
    }

    .logo {
      width: 40%;
      margin: 0 auto;
      display: block;
      padding-top: 1rem;
    }
  }

  ul {
    @include flexCol;
  }

  nav {
    ul {
      li {
        list-style: square;
        font-size: 1.5rem;
      }
    }
  }

  footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    ul {
      @include flexCol;
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }

  .footer {
    @include flexCol;
    &-title {
      color: $colorTerciary;
      text-align: center;
      font-size: map-get($map: $fontsizes, $key: "tres");
    }
  }

  #seguinos {
    color: white;
    font-size: map-get($map: $fontsizes, $key: "dos");
  }

  .redes-container {
    padding-left: 2rem;
    img {
      margin: 1rem;
    }
  }

  .navbar {
    display: flex;
  }

  nav {
    display: none;
  }

  .footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    &-title {
      color: $colorTerciary;
      text-align: center;
      font-size: map-get($map: $fontsizes, $key: "tres");
      .ul {
        display: flex;
        flex-direction: column;
        font-size: map-get($map: $fontsizes, $key: "cuatro");
      }
    }
  }

  .link-redes {
    img {
      width: 5rem;
    }
  }

  /*inicia index home*/

  .main {
    &-home {
      h3 {
        font-size: map-get($map: $fontsizes, $key: "uno");
        text-align: center;
        margin-bottom: 1rem;
      }
      display: flex;
      .benef1,
      .benef2,
      .benef3,
      .benef4,
      .benef5,
      .benef6 {
        display: none;
      }
      #carouselExampleIndicators {
        margin-top: 1rem;
      }
    }
  }

  /*inicia quienes-somos*/

  .nosotros {
    p {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
    .quienes-somos {
      h3 {
        font-size: map-get($map: $fontsizes, $key: "tres");
      }
    }
    .accordion {
      &-item {
        .accordion-header {
          .accordion-button {
            font-size: map-get($map: $fontsizes, $key: "tres");
          }
        }
      }
      &-collapse {
        &.collapse {
          &.show {
            .accordion-body {
              font-size: map-get($map: $fontsizes, $key: "dos");
            }
          }
        }
      }
      &-body {
        font-size: map-get($map: $fontsizes, $key: "dos");
      }
    }
  }

  /*inicia productos*/

  .main {
    &-productos {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px repeat(4, 1fr) 150px;
      grid-template-areas:
        "ing1 ing2"
        "cr cr"
        "mix mix"
        "coc coc"
        "med med"
        "ing3 ing4";
      gap: 10px;
      align-items: stretch;

      .list {
        &-group {
          align-items: stretch;
        }
      }

      .card {
        &-body {
          max-height: 100%;
          padding: 2rem;
        }

        &-cocida {
          .card {
            &-body {
              padding-bottom: 2rem;
            }
          }
        }
      }
    }
  }

  .btn {
    &-comprar {
      margin-top: 1rem;
    }
  }
  .alert {
    &.alert-primary {
      .aviso {
        font-size: map-get($map: $fontsizes, $key: "dos");
      }
    }
  }

  /*inicia contacto*/

  .message {
    p {
      font-size: map-get($map: $fontsizes, $key: "dos");
      margin-left: 4rem;
    }
  }

  .form-message,
  .form-consulta {
    width: 95%;
    line-height: 2rem;
    margin: 0 1rem;
    label {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }

  input[type="text"] {
    width: 95%;
  }

  textarea {
    width: 100%;
  }

  .radio-tipo-mascota {
    @include flexRow($horizontal: space-around);
  }

  /*inicia pacientes y consultas*/

  .consultas {
    .card {
      margin: 0;
      justify-content: center;
    }
  }

  .sumate {
    .card {
      width: 100%;
      margin: 1rem;
      padding: 0.5rem;
      flex-direction: column-reverse;
      .btn.btn-primary {
        width: 80%;
        font-size: map-get($map: $fontsizes, $key: "dos");
        margin: 1rem auto;
      }
      &-title {
        color: $colorSecondary;
        font-size: map-get($map: $fontsizes, $key: "tres");
        text-align: center;
        font-weight: bold;
      }
      &-text {
        font-size: map-get($map: $fontsizes, $key: "dos");
      }
    }
  }

  .alert {
    .alert-primary {
      .aviso {
        font-size: map-get($map: $fontsizes, $key: "dos");
      }
    }
  }

  .container-fluid {
    background-color: $colorSecondary;
  }

  .collapse {
    .p-4 {
      background-color: $colorSecondary;
      ul {
        li {
          color: white;
          font-size: 1.5rem;
          text-transform: uppercase;
          text-decoration: none;
          list-style: square;
        }
      }
    }
  }
}
