@import "./_variables";

.list {
  &-group {
    &-item {
      font-size: map-get($map: $fontsizes, $key: "dos");
    }
  }
}

.precio {
  background-color: $colorSecondary !important;
  font-size: map-get($map: $fontsizes, $key: "dos");
}

.btn {
  &-group {
    width: 70%;
    margin: auto;
    .btn {
      &.btn {
        &-secondary {
          font-size: map-get($map: $fontsizes, $key: "dos");
        }
      }
    }
  }
}

.btn-comprar {
  background-color: $colorSecondary;
}

.cantidad {
  &-producto {
    label {
      font-size: 2rem;
      width: 69%;
      margin: 1rem 0;
    }
    input {
      width: 30%;
      font-size: 2rem;
    }
  }
}

.btn {
  &.btn {
    &-primary {
      font-size: 2rem;
      width: 100%;
    }
  }
}

.especie {
  &-radio {
    font-size: 2rem;
    margin: 1rem 0;
    input {
      margin-left: 2rem;
    }
  }
}

.col {
  width: 50%;
  grid-area: col;
}

.ing2 {
  grid-area: ing2;
  background-color: $colorSecondary;
}

.ing3 {
  grid-area: ing3;
}

.ing4 {
  grid-area: ing4;
}

.card {
  &-cruda {
    grid-area: cr;
    display: flex;
    flex-direction: column;
  }
  &-mixta {
    grid-area: mix;
    display: flex;
    flex-direction: column;
  }
  &-cocida {
    grid-area: coc;
    display: flex;
    flex-direction: column;
  }
  &-med {
    grid-area: med;
    display: flex;
    flex-direction: column;
  }
}

.main {
  &-productos {
    background-color: $colorSecondary;
    display: grid;
    grid-template-columns: 2fr 2fr 300px;
    grid-template-rows: repeat(4, 1fr);
    background-color: transparent;
    grid-gap: 4rem;
    grid-template-areas:
      "cr mix ing3"
      "cr mix ing2"
      "coc med ing1"
      "coc med ing4";
    width: 100%;
    align-items: stretch;
    justify-items: stretch;

    & > * {
      box-shadow: 0px 0 20px 0px #00000070;
      background-color: $white;
    }

    .card {
      &-body {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      &-title {
        font-size: map-get($map: $fontsizes, $key: "tres");
        text-align: center;
        font-weight: bold;
        padding-bottom: 2rem;
      }

      &-text {
        font-size: map-get($map: $fontsizes, $key: "tres");
      }
    }

    img {
      max-height: 300px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding: 1rem;
    }
  }
}
