@import "./_variables";

.nosotros {
  margin: 0 18rem;
  .quienes-somos {
    margin-top: 2rem;
  }
  #nosotros-img {
    width: 100%;
  }
  p {
    font-size: map-get($map: $fontsizes, $key: "tres");
    color: $black;
    padding: 3rem;
    padding-bottom: 4rem;
  }
  .accordion-item {
    width: 100%;
    font-size: map-get($map: $fontsizes, $key: "cuatro");
    margin-bottom: 2rem;
    padding: 3rem;
    .accordion-header {
      .accordion-button {
        width: 100%;
        font-size: map-get($map: $fontsizes, $key: "cinco");
        color: $lila;
        text-align: center;
        padding: 1rem;
      }
    }
  }
  .accordion-collapse {
    &.collapse {
      &.show {
        .accordion-body {
          font-size: map-get($map: $fontsizes, $key: "tres");
        }
      }
    }
  }
}
