//var fonts
$mainFont: "Montserrat", sans-serif;

//colors
$colorPrimary: #a1fcd7;
$colorSecondary: #8a2be2;
$colorTerciary: #c7ee5d;
$colorTitle: #ac85f6;
$white: white;
$yellow: yellow;
$black: #2f3d3a;
$crema: #ffffffc9;
$grey: grey;
$red: #f54652;
$green: #28f258;
$lila: #ac85f6;

$fontsizes: (
  "uno": 1rem,
  "dos": 2rem,
  "tres": 3rem,
  "cuatro": 4rem,
  "cinco": 5rem,
  "seis": 6rem,
  "siete": 7rem,
  "main": 62.5%,
);
