//var fonts
$mainFont: "Montserrat", sans-serif;

//sizes
$mainSize: 62.5%;
$SSize: 3rem;
$XXLSize: 7rem;
$LSize: 5rem;
$MSize: 6rem;
$XSSize: 2rem;

//colors
$colorPrimary: #a1fcd7;
$colorSecondary: #8a2be2;
$colorTerciary: #c7ee5d;
$colorTitle: #ac85f6;
$white: white;
$yellow: yellow;
$black: #2f3d3a;
$crema: #ffffffc9;
$grey: grey;
$red: #f54652;
$green: #28f258;
$lila: #ac85f6;
